/* ===================  xsm device responsive  ======================= */
@media (max-width: 575.98px) {
/* =====================  welcome part start  ===================== */
    .wellcomeImg img {
        width: 250px;
        height: 600;
        border-radius: 5px;
        margin-top: 20px;
    }
    .wellcomeHead h2 {
        font-size: 23px;
    }
    .name h1 {
        font-size: 24px;
    }
    .nameInput {
        width: 290px;
        height: 40px;
    }
    .nameButton {
        width: 70px;
        height: 40px;
    }
    .result p {
        font-size: 15px;
    }
    .result h2 {
        font-size: 25px;
        margin-top: 10px;
    }
    .nameInput {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .mainCard {
        margin-top: 40px;
    }
    .mainCard {
        margin-top: 30px;
    }
    .singleCard h2 {
        font-size: 15px;
        width: 150px;
    }
    .singleCard {
        width: 150px;
        height: 140px;
    }
    .singleCard img {
        width: 150px;
        height: 115px;
    }
}    
/* ===================  sm device responsive  ======================= */
@media (min-width: 576px) and (max-width: 767.98px) {
    .wellcomeImg img {
        width: 350px;
        height: 620;
        border-radius: 5px;
        margin-top: 20px;
    }
    .wellcomeHead h2 {
        font-size: 27px;
    }
    .name h1 {
        font-size: 27px;
    }
    .nameInput {
        width: 310px;
        height: 42px;
    }
    .nameButton {
        width: 70px;
        height: 42px;
    }
    .result p {
        font-size: 17px;
    }
    .result h2 {
        font-size: 22px;
        margin-top: 12px;
    }
    .nameInput {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .mainCard {
        margin-top: 40px;
    }
    .mainCard {
        margin-top: 30px;
    }
    .singleCard h2 {
        font-size: 15px;
        width: 150px;
    }
    .singleCard {
        width: 150px;
        height: 140px;
    }
    .singleCard img {
        width: 150px;
        height: 115px;
    }

}